@import "tailwindcss";


.glass-button {
    @apply flex items-center gap-2 px-6 py-3 rounded-xl font-semibold text-white shadow-md transition duration-300;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    white-space: nowrap;
  }

  .glass-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.3);
  }

